<div id="<%= dom_id club %>">
  <div class="text-indigo-500">
    <%= link_to root_path do %>
      <i class="fa fa-angle-left"></i>
      <span>Back</span>
    <% end %>
  </div>

  <div class="flex flex-row justify-between">
    <h1 class="my-5 text-2xl font-bold">
      <%= club.name %>
    </h1>

    <button>
      <i data-modal-target="button" data-action="click->modal#open" class="fa fa-cog"></i>
    </button>
  </div>
</div>
