<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing club</h1>

  <%= render "form", club: @club %>

  <%= link_to "Show this club", @club, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to clubs", clubs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
