<div id="<%= dom_id read_session %>">
  <div class="text-indigo-500 mb-1">
    <%= link_to read_session.club do %>
      <i class="fa fa-angle-left"></i>
      <span>Back</span>
    <% end %>
  </div>

  <h1 class="mb-5 text-2xl font-bold">
    <%= read_session.name %>
  </h1>
</div>
