<% books = @read_session.submitted_books %>
<% if books.any? %>

  <h2 class="mb-5 text-lg font-semibold"><%= t('.book_proposals') %></h2>

  <div data-controller="carousel" class="swiper-container">
    <div class="swiper-wrapper">
      <% books.each do |book| %>
        <div  class="swiper-slide">
          <div class="rounded-lg">
            <%= image_tag '/placeholder.jpeg', class: "rounded-lg max-h-56" %>
          </div>
          <h3><%= book.title %></h3>
          <p><%= t('.submitted_by', submitters: book_submitters(book, @read_session)) %></p>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
