<div class="flex-row flex flex-grow space-x-2">

  <%# Card 1 %>
  <div class="grow bg-gray-100 dark:bg-zinc-800 p-6 rounded-xl space-y-8">
    <i class="fa fa-clock text-xl"></i>
    <div class="space-y-2">
      <p class="text-xs text-zinc-400 font-medium">
        <%= t('.starts_in') %>
      </p>
      <p class="text-normal font-bold">
        <%= time_tag read_session.submission_due_date, 'data-local': 'time-ago' %>
      </p>
    </div>
  </div>

  <%# Card 2 : Submitters count %>
  <div class="grow bg-gray-100 dark:bg-zinc-800 p-6 rounded-xl space-y-8">
    <i class="fa fa-users text-xl"></i>
    <div class="space-y-2">
      <p class="text-xs text-zinc-400 font-medium">
        <%= t('.participants') %>
      </p>
      <p class="text-normal font-bold">
        <%= read_session.submissions.count %>
      </p>
    </div>
  </div>
</div>
