<div class="flex-row flex flex-grow space-x-2 grid-cols-2 grid">

  <%# Card 1 %>
  <div class="bg-gray-100 dark:bg-zinc-800 p-6 rounded-xl space-y-8 col-span-1">
    <i class="fa fa-clock text-xl"></i>
    <div class="space-y-2">
      <p class="text-xs text-zinc-400 font-medium">
        <%= t('.starts_in') %>
      </p>
      <p class="text-normal font-bold">
        <%= prefixed_time(read_session.next_step_date) %>
      </p>
    </div>
  </div>

  <%# Card 2 : Submitters count %>
  <div class="bg-gray-100 dark:bg-zinc-800 p-6 rounded-xl space-y-8 col-span-1">
    <i class="fa fa-users text-xl"></i>
    <div class="space-y-2">
      <p class="text-xs text-zinc-400 font-medium">
        <%= t('.participants') %>
      </p>
      <p class="text-normal font-bold">
        <%= read_session.submissions.count %>
      </p>
    </div>
  </div>
</div>

<hr class="my-5">
