<div id="<%= dom_id submission %>">
  <div class="text-indigo-500 mb-1">
    <%= link_to submission.read_session do %>
      <i class="fa fa-angle-left"></i>
      <span>Back</span>
    <% end %>
  </div>

  <h1 class="mb-5 text-2xl font-bold">
    <%= t('.new_submission') %>
  </h1>
</div>
